.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.separation {
  margin-bottom: 40px;
}

.padding-footer {
  margin-top: auto;
  padding-bottom: 80px;
}


.hero-section {
background: linear-gradient(
    135deg,
    #2aa198,
    #1f5f6b,
    #1f3c5b,
    #1f3c5b,
    #1f5f6b,
    #2aa198
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 60px 20px;
  position: relative;
  .btn-secondary {
    text-decoration-line: underline;
  color: white !important;
}
}

.hero-section-small {
  min-height : 50px !important;
}
.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-section::before {
  pointer-events: none;
}

.hero-section h1,
.hero-section p,
.hero-section img {
  position: relative;
  z-index: 1;
}

.hero-section h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
}

.hero-section p {
  font-size: 1.3rem;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1.1rem;
  }
}

/* .realisation-list {
  list-style: disc;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

.realisation-list li {
  cursor: pointer;
  transition: 0.3s;
}

.realisation-list li:hover {
  color: #007bff;
}

.realisation-list li.active {
  font-weight: bold;
  color: #007bff;
} */

.realisation-row {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
  p{
    font-size: 1.2rem;
    line-height: 2rem;
  }
  img {
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
  }
}

.realisation-row.reverse {
  flex-direction: row-reverse;
}

.realisation-row img {
  width: 50%;
  border-radius: 10px;
}

.realisation-row p {
  width: 50%;
}

@media (max-width: 768px) {
  .realisation-row,
  .realisation-row.reverse {
    flex-direction: column;
  }

  .realisation-row img,
  .realisation-row p {
    width: 100%;
  }

  .realisation-list {
    flex-direction: column;
    align-items: center;
  }
}